@media (max-width: 1200px)
	.menu
		&_item
			padding-right: 20px
		&_link
			font-size: 13px	
		.promo
			&_header
				font-size: 50px
	.promo_reasons
		.column
			align-items: flex-start
		&_icon_descr
			width: 300px
	.mobile
		&_item
			width: 300px
	footer
		&_download
			right: 1px			

@media (max-width: 991px)			
	.menu
		&_item
			padding-right: 8px
		&_link
			font-size: 10px
	header
		.subheader
			&_phone
				font-size: 20px
			&_btn
				width: 100%
				height: 40px
				margin-top: 21px
			&_oficcial
				font-size: 12px
			&_logo
				img
					width: 100%
		.promo
			&_header
				font-size: 50px
			&_subheader							
				font-size: 30px
	.promo_reasons
		.column, .column2, .column3, .column4
			flex-direction: column
			align-items: center
		&_icon_descr
			width: 300px
			margin-top: 20px
	.mobile
		&_item
			width: 228px		
				

	