@media (max-width: 1200px)
	.menu
		&_item
			padding-right: 20px
		&_link
			font-size: 13px	
		.promo
			font-size: 50px
	.promo_reasons
		&_column
			align-items: flex-start
		&_icon_descr
			width: 300px
	.mobile
		&_item
			width: 300px
@media (max-width: 991px)			
	header
		.subheader
			&_phone
				font-size: 20px

	